body {
  background-color:  #C6E2FF;
}
body {
  padding: 0px 50px 0px 50px;
}
h1 {
  font-family: cursive;
  color: #800080;
  font-weight:bold;
}
h2 {
  font-family:fantasy;
  font-weight:bold;
}
span {
  background-color: yellow;
}
img {
  width: 30%;
  height: 30%;
  border: 5px solid #00008b;
  border-radius: 10px;
}
.right{
  color: green;
}
.wrong{
  color: red;
}
